src/main/mule/algolia-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="83221f9b-508c-4283-bae6-44731c66a292" >
		<http:listener-connection host="0.0.0.0" port="8081"/>
	</http:listener-config>
	<global-property doc:name="Global Property" doc:id="ca46c45f-f54b-48aa-8667-15bf1f398c4f" name="env" value="dev" />
	<configuration-properties doc:name="Configuration properties" doc:id="ea421948-c37b-4a6a-bd49-4b403751066b" file="dev.yaml" />
	<flow name="projectFlow" doc:id="48905262-468a-4031-ab15-f5d85f28d059" >
		<http:listener doc:name="Listener" doc:id="c8af594f-6142-413f-97f9-4c92f2cc0ecf" config-ref="HTTP_Listener_config" path="/project"/>
		<set-payload value='#["sucess"]' doc:name="Set Payload" doc:id="cd13f050-0aef-4256-9b22-47328b89b9a5" />
	</flow>
</mule>
